<h1>{{title}}</h1>

<div class="alert alert-danger" *ngIf="stockAlert!=0">
  warning: {{stockAlert}} out of stock
</div>

<button class="btn btn-warning" (click)="showForm()">
  add Product
</button>
<br>
<app-add-product *ngIf="show" (eventAddProduct)="saveProduct($event)"></app-add-product>
<br>

<div [hidden]="show">
  <div class="form-group col-md-3 ">
    <label>Search</label>
    <input class="form-control" name="price" type="number"
           placeholder="search by price" [(ngModel)]="priceMax">
  </div>
  <br>
  <div class="row">
    <app-product *ngFor="let pObject of listProduct"
                 [product]="pObject" [priceMax]="priceMax"
                 (likeNotification)="incrementLike($event)"
                 class="col-md-3">

    </app-product>
  </div>
</div>
